<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991996389799-qrt8sifrttulcnsl9ogu315b0f08ooin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991996389799-qrt8sifrttulcnsl9ogu315b0f08ooin</string>
	<key>API_KEY</key>
	<string>AIzaSyBOjY4FRLh8EtTrHXtMoPo7C8GtStVLu7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>991996389799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>software.idol.Hobbies</string>
	<key>PROJECT_ID</key>
	<string>company-hobbies</string>
	<key>STORAGE_BUCKET</key>
	<string>company-hobbies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991996389799:ios:ec45bc9dd6832bbb</string>
	<key>DATABASE_URL</key>
	<string>https://company-hobbies.firebaseio.com</string>
</dict>
</plist>